extends layout

block content
  h1= title
  
  a(href='/login') Login 
  h1 WEB
  ul 
    each val in ["JavaScript", "HTML", "CSS"]
      a(href="/#{val}")
        li= val
  a(href='/create') Create
  a(href='/update') Update
  input(type="submit" value="delete")

  p Welcome to #{title}
  img(src="../images/hello.jpg", alt="hello", style="width: 50vh")
  